@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import "tailwindcss";

@import "tw-animate-css";

@theme {
  --color-primary: #1E48DB;
  --color-title: #01161E;
  --color-blue: #124559;
  --color-border-blue: #E2E8FF;
  --color-card: #F0F3FF;
}

body {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    color: #404040;
    @apply text-lg
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0
}

.cal-sans {
    font-family: "Cal Sans", sans-serif;
}

.menu-clip {
    clip-path: circle(0.0% at 100% 0);
}
